html {
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: Tahoma, Verdana, sans-serif;
}
svg {
  background-color: seashell;
}
#canvas {
  min-height: 600px;
  min-width: 1200px;
}
#tooltip {
  visibility: hidden; /* 15.2 */
  height: auto;
  width: auto;
  font-size: 30px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#legend {
  min-width: 1080px;
  padding: 60px;
  padding-bottom: 0;
  height: auto;
}
.legend-item {
  padding:10px;
  margin: 10px;
}

